@keyframes impactFlash {
    0% { background-color: #050505; }
    100% { background-color: #111; }
}

.app {
    height: 100%;
    position: relative;
    background-color: #050505;
    color: white;
    overflow: hidden; /* Hides the scrollbar */
}