.awesome-lightsaber-wrapper {
    text-align: center;
    height: 100%;
}

@keyframes flicker {
    0% {opacity: 1;}
    50% {opacity: 0.85;}
    100% {opacity: 1;}
}

.awesome-lightsaber {
    height: 100%;
    width: auto;
    transform-origin: center bottom;
    z-index: 1000;
    pointer-events: none;
}

.awesome-lightsaber-img {
    height: 105%;
    width: auto;
    user-select: none;
    animation: flicker 150ms linear infinite;
    transform: scale(1.38, 1);
    object-fit: contain;
    filter: hue-rotate(80deg);
}

.lightsaber-red {
    filter: hue-rotate(250deg);
}

.lightsaber-blue {
    filter: hue-rotate(80deg);
}

.lightsaber-green {
    /* nothing, it's already green */
}